@if (Group != null)
{
    <div class="card" style="width: 18rem;padding: 5px;margin:5px;">
        <div class="card-body">
            <h5 class="card-title">@Group.Name</h5>
            <p class="card-text">@Group.Description</p>
            <div class="col-4">
                <a class="btn btn-primary" @onclick="() => Edit_Click(Group.SubjectId)">Bearbeiten</a>
                <a class="btn btn-danger" @onclick="() => Delete_Click(Group.SubjectId)">Löschen</a>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public Group? Group { get; set; }

    [Parameter]
    public EventCallback<int> EditRequest { get; set; }

    [Parameter]
    public EventCallback<int> DeleteRequest { get; set; }

    async void Edit_Click(int id)
    {
        await EditRequest.InvokeAsync(id);
    }

    async void Delete_Click(int id)
    {
        await DeleteRequest.InvokeAsync(id);
    }

}