@using WebContentList.Data

@page "/addgroup"

@inject GroupService GroupService
@inject NavigationManager navigationManager

<h3>Eine neues Thema hinzufügen</h3>

<form>

    <div class="input-group mb-3">
        <input type="text" class="form-control" @bind="curGroup.Name" autofocus="true" placeholder="Bezeichnung des Themas"/>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" @bind="curGroup.Description" placeholder="Beschreibung des Themas"/>
    </div>

    <button class="btn btn-primary" type="button" @onclick="AddNewSubject">Hinzufügen</button>
    <button class="btn btn-secondary" type="button" @onclick="CancelAdd">Abbrechen</button>

</form>

@code {

    // Notwenig, um zu Anfang einen Kontainer zu haben
    Group curGroup = new();

    protected async void AddNewSubject()
    {
        await GroupService.AddGroup(curGroup);
        navigationManager.NavigateTo("grouplist");
    }

    private void CancelAdd()
    {
        navigationManager.NavigateTo("grouplist");
    }

}