@using WebContentList.Data

@page "/editgroup/{id}"

@inject GroupService GroupService
@inject NavigationManager navigationManager

<h3>@curGroup.Name bearbeiten</h3>

@if (curGroup == null)
{
    <p>Loading...</p>
}
else
{
    <form>
        <input class="form-control" @bind="curGroup.SubjectId" hidden="true"/>

        <div class="input-group mb-3">
            <input type="text" class="form-control" @bind="curGroup.Name" autofocus="true" placeholder="Bezeichnung des Themas"/>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" @bind="curGroup.Description" placeholder="Beschreibung des Themas"/>
        </div>

        <button class="btn btn-primary" type="button" @onclick="UpdateSubject">Übernehmen</button>
        <button class="btn btn-secondary" type="button" @onclick="CancelUpdate">Abbrechen</button>

    </form>
}

@code {
    //Die ID muss in der Form angegeben werden, da ansonsten kein Update sondern ein Anfügen erfolgt
    [Parameter]
    public string id { get; set; }

    // Notwenig, um zu Anfang einen Container zu haben
    Group curGroup = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        curGroup = await GroupService.GetGroupById(int.Parse(id));
    }

    protected async void UpdateSubject()
    {
        await GroupService.UpdateGroup(curGroup);
        navigationManager.NavigateTo("grouplist");
    }

    private void CancelUpdate()
    {
        navigationManager.NavigateTo("grouplist");
    }

}